body {
    margin: 10px;
    padding: 10px;
}

.container {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content:center ;
    align-items:center ;
    margin:auto ;

}
.form_container {
    height: 85%;
    width: 45%;
    display: flex;
    justify-content:center ;
    align-items:center ;
    margin:auto ;
    border: 1px solid #000;
    padding: 60px;;
    
}

form{
    display:flex ;
    flex-direction:column ;
    align-items:center ;
    width: 250px; 

}

.circle{
    height: 200px;
    width: 200px;
    background-image: url("https://www.apple.com/newsroom/images/values/corporate/Apple_google-partner-on-covid-19-contact-tracing-technology_04102020_LP_hero.jpg.og.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
      
}

label {
    align-self:flex-start ;
    margin-bottom: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
} 


input{
    width: 100%;
    height: 30px;
    outline:none ;
    border:1px solid #000;
    padding: 0;
    margin-bottom:  10px;
    border-radius: 8px;

}
button{
    width: 100%;
    padding: 10px 0;
    text-transform:uppercase ;
    background-color:transparent ;
    border:1px solid #000 ;
    outline:none ;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
    
}
button:hover{
    background-color:grey;
}
